body {
  background-color: black;
}

ul {
  background-color: darkblack;
}

h1 {
  margin-top: 40px;
  background: black;
  color: darkblue;
}

li {
  color: darkblue;
  size: 29px;
}

img {
  margin: top;
}
